.container {
  width: 1200px;
  padding: 0 20px;
  margin: 0 auto 300px;
  gap: 24px 0;
  @media screen and (max-width: 1200px) {
    width: 100%;
  }
  @media screen and (max-width: 768px) {
    margin-bottom: 100px;
  }
}

.item {
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 60px;
  @media screen and (max-width: 1100px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media screen and (max-width: 768px) {
    grid-template-columns: repeat(1, 1fr);
  }
}


.mtk,
.quest,
.arclight {
  display: flex;
  transition: transform .2s;
  img {
    margin-right: 16px;
  }

  &:hover {
    transform: translateY(-4px)
  }
}

.mtk {
  img {
    height: 90px;
  }
}

.quest {
  img {
    height: 90px;
  }
}

.arclight {
  img {
    height: 90px;
  }
}

.title {
  text-align: center;
  margin-bottom: 100px;
  @media screen and (max-width: 768px) {
    margin-bottom: 60px;
  }
}