.container {
  width: 1240px;
  padding: 0 20px;
  margin: 0 auto 300px;
  gap: 24px 0;
  @media screen and (max-width: 1200px) {
    width: 100%;
  }
  @media screen and (max-width: 768px) {
    margin-bottom: 100px;
  }
}

.itemGrid {
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  @media screen and (max-width: 1100px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media screen and (max-width: 768px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.item {
  img {
    height: 90px;
  }
}

.item {
  display: flex;
  align-items: center;
  transition: transform 0.2s;
  img {
    margin-right: 16px;
  }

  &:hover {
    transform: translateY(-4px);
  }
}

.title {
  text-align: center;
  margin-bottom: 100px;
  @media screen and (max-width: 768px) {
    margin-bottom: 60px;
  }
}
