.wrapper {
  width: 100%;
  max-width: 1400px;
  margin: 140px auto 200px;
  padding: 0 20px;
  justify-content: space-between;
  flex-wrap: wrap;
  box-sizing: border-box;
  @media screen and (max-width: 1600px) {
    max-width: 1200px;
  }
  @media screen and (max-width: 768px) {
    flex-direction: column-reverse;
    margin-bottom: 100px;
  }
}

.left-content {
  width: 55%;
  flex-direction: column;
  @media screen and (max-width: 768px) {
    width: 100%;
    margin-top: 100px;
    align-items: center;
  }
}
.right-content {
  width: 40%;
  align-self: center;
  overflow: hidden;
  @media screen and (max-width: 768px) {
    width: 100%;
    max-width: 500px;
  }
}
.title {
  margin-bottom: 60px;
}